# Python environment
venv/
.venv/
env/

# IDE settings
.vscode/
.idea/

# Local data & secrets
.env
__pycache__/
web_faiss_index/

# Large PDFs
pdf/
*.pdf

# Ignore all FAISS index folders
*.faiss
*.bin
*.pkl
*faiss_index/
faiss_index/

# Ignore log files
*.log

# Ignore OS specific files
.DS_Store
Thumbs.db

## Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Images / figures
*.jpeg
*.jpg
*.png

# Datasets / CSV files
*.csv

# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

CLAUDE.md